.fbPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
}

.profilePic > img {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}
.PhotoInput{
  position: absolute;
 
}
.KK{
  position: relative;
}

.postField {
  margin-top: 7px;
  margin-left: 10px;
}

.postField > input {
  width: 400px;
  height: 40px;
  background-color: #f2f3f5;
  border-radius: 30px;
  border-style: none;
  text-align: match-parent;
  padding: 10px;
}

.postButton > button {
  height: 35px;
  width: 60px;
  border-radius: 5px;
  background-color: #1877f2;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 15px;
  margin-top: 7px;
}

.postButton > button:hover {
  cursor: pointer;
}

.post {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-left: 20px;
}

.reactButtons {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: medium solid #f2f3f5;
  padding-left: 20px;
  width: 100%;
}

.liveVideo > button {
  background-image: url(../components/facebookReactPost/images/button-icons.png);
  background-position: 0 -42px;
  background-size: 30%;
  background-repeat: no-repeat;
  display: inline-block;
}

.photoVideo > button {
  background-image: url(../components/facebookReactPost/images/button-icons.png);
  background-position: 0 -420px;
  background-size: 30%;
  background-repeat: no-repeat;
  display: inline-block;
}

.feelingActivity > button {
  background-image: url(../components/facebookReactPost/images/button-icons.png);
  background-position: 0 -281px;
  background-size: 30%;
  background-repeat: no-repeat;
  display: inline-block;
}

.reactButtons > div > button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 0 10px 0 11px;
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(217, 213, 213, 0.5) 0 0px 0px 0;
  cursor: pointer;
  display: flex;
  color: #65676b;
}

.reactButtons > div > button > span {
  margin-left: 30px;
}

.reactButtons > div > button:hover {
  background-color: #f2f3f5;
}

.reactButtons > div > button > img {
  width: 25px;
  height: 25px;
}
