.postsBlock{
  width: 100%;
  background-color:rgb(240,242,245);
  padding-top:7.5px;
  padding-bottom:15px;


}
.posts {
  width: 80%;
  background-color: white;
  margin:auto;
height: auto;
border-radius: 10px;

}
.post {
  position: relative;
  background: var(--bg-primary);
  border-radius: 500px;
  box-shadow: 0 1px 2px var(--shadow-1);
  user-select: none;
  color: var(--color-primary);
  margin-bottom: 10px;
  background-color: #FFFFFF;
  width: 100%;
  
}
.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.postImg {
  width: 10px !important;
  height: 10px !important;
  background-color: blueviolet;
}
.postHeaderLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.postHeaderLeft img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.header_col {
  display: flex;
  flex-direction: column;
}
.postProfileName {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: black;
}
.updatedP {
  color: var(--color-secondary);
  font-weight: normal;
  color: black;
}
.postProfilePrivacyDate {
  margin-top: 1px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: black;
}

.dotHover:hover {
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: 1px 1px 1px var(--shadow-1);
}

.postText {
  padding: 0 15px 10px 15px;
}
.postImage {
  display: flex;
  height: 610px;
  justify-content: center;
}

.postImage img {
  width: 100%;
  height: 610px;
  object-fit: cover;
}
.post_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.reacts_count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reacts_count_imgs {
  display: flex;
  align-items: center;
  gap: 1px;
}
.reacts_count_imgs img {
  width: 18px;
}
.reacts_count_num {
  font-size: 14px;
  color: var(--color-secondary);
}
.to_right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-secondary);
  font-size: 15px;
}
.comments_count:hover,
.share_count:hover {
  cursor: pointer;
  text-decoration: underline;
}
.post_actions {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 8px 5px 8px;
  border-top: 1px solid rgb(206,208,212);
  margin: 0 10px;
  padding: 5px 0;

  
}
.post_action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  padding: 7px 0;
  border-radius: 5px;
}

.post_action:hover {
  background-color:  rgb(206,208,212);
  margin: 0 10px;;
  border-radius: 10px;
  box-shadow: 1px 1px 1px var(--shadow-1);
}
.post_action span {
  color: rgb(92, 92, 92);
  font-weight: 600;
  font-size: 15px;
  transform: translateY(-1px);
}
.reacts_popup {
  display: flex;
  align-items: center;
  position: absolute;
  top: -3.2rem;
  background:rgb(251, 251, 251);
  padding: 5px 15px;
  border-radius: 50px;
  gap: 8px;
  box-shadow: 0 1px 2px var(--shadow-1);
}
.reacts_popup img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.react {
  cursor: pointer;
  transition: all 0.2s;
}
.react:hover {
  transform: scale(1.3);
}
.react img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}


.like_icon {
  background-image: url("../components/facebookPost/postIcons/postIcons.png");
  background-position: 0 -243px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(40%);
}

.comment_icon {
  background-image: url("../components/facebookPost/postIcons/postIcons.png");
  background-position: 0 -205px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(40%);
}
.share_icon {
  background-image: url("../components/facebookPost/postIcons/postIcons.png");
  background-position: 0 -262px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: invert(40%);
}

@media (max-width: 415px) {
  .postImage {
    height: 100% !important;
  }
  .postImage img {
    height: 450px !important;
  }
}
