.fbContainer {
  display: flex;
  width: 800px;
  flex-direction: column;
}

.fbPost {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  width: 640px;
  margin-left: -1px;
  background-color: white;
}

.profilePic {
  display: flex;
  align-items: center;
}

.profilePic > img {
  width: 35px;
  height: 35px;
}
.PhotoInput {
  position: absolute;
}
.KK {
  position: relative;
}

.postField {
  width: 480px;
  display: flex;
  align-items: center;
}

.postField > input {
  width: 100%;
  height: 40px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #65676b;
  background-color: #f2f3f5;
  border-radius: 30px;
  border-style: none;
  text-align: match-parent;
  padding: 10px;
}

.postButton > button {
  height: 35px;
  width: 60px;
  border-radius: 5px;
  background-color: #1877f2;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.postButton > button:hover {
  cursor: pointer;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
}

.reactButtons {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 10px;
  padding: 10px 20px;
  border-top: medium solid #f2f3f5;
  width: 100%;
}

.photoVideoIcon,
.feelingActivityIcon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/56825_TDFXM.png);
  background-size: auto;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
.photoVideoIcon {
  background-position: 0 -175px;
}
.feelingActivityIcon {
  background-position: 0 -125px;
}

.photoVideo > button,
.feelingActivity > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 0 10px;
  width: 270px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(217, 213, 213, 0.5) 0 0px 0px 0;
  cursor: pointer;
  display: flex;
  color: #65676b;
}

.photoVideo > button > span,
.feelingActivity > button > span {
  margin-left: 10px;
  font-size: 14px;
}

.photoVideo > button:hover,
.feelingActivity > button:hover {
  background-color: #f2f3f5;
}
