.forgetPassword {
  width: 100%;
  background-color: #e9ebee;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: white;
}

.logo {
  width: 50%;
  margin: 20px 0px 10px 10px;
}

.logo > img {
  width: 115px;
  height: 35px;
}

.signinInputs {
  display: flex;
  gap: 8px;
  margin-right: 50px;
}

.signinInputs > input {
  width: 166px;
  height: 40px;
  padding: 11px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  color: #1c1e21;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}

.signinInputs > button {
  width: 70px;
  height: 37px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #3578e5;
  border: none;
  border-radius: 6px;
}

.signinInputs > button:hover {
  cursor: pointer;
}

.signinInputs > a {
  align-self: center;
  margin-bottom: 6px;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #1877f2;
}

.forgetPasswordContainer {
  display: flex;
  justify-content: center;
  background-color: #e9ebee;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.forgetPasswordForm {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: white;
  width: 500px;
}

.title {
  color: #1c1e21;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  border-bottom: 1px solid #dadde1;
  padding: 16px;
}

.details {
  width: 400px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.emailInput {
  padding-left: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dadde1;
}

.emailInput > input[type="email"] {
  width: 430px;
  height: 45px;
  padding: 15px;
  margin-bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  color: #1c1e21;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}

.forgetButton {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.forgetButton > button {
  width: 90px;
  height: 37px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #3578e5;
  border: none;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .header {
    width: 50%;
  }

  .forgetPasswordContainer {
    width: 700px;
    justify-content: left;
  }

  .signinInputs > input {
    width: 124px;
    height: 39px;
  }

  .signinInputs > button {
    width: 40px;
    height: 37px;
  }
}
