.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerContainer > .headerContent {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.4);
}
.headerContent > a > svg {
  fill: #1877f2;
}
.headerContent > .inputContainer {
  position: relative;
  width: 600px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #ebedf0;
  border-radius: 9999px;
}
.inputContainer > .searchIcon {
  height: 16px;
  width: 16px;
  margin-left: 12px;
}
.inputContainer > .searchIcon > svg {
  fill: #606770;
}
.inputContainer > .searchInput {
  padding: 8px;
  margin: 0;
  height: 40px;
  width: 572px;
  outline: none;
  border: none;
  background: transparent;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial,
    sans-serif sans-serif;
  color: #050505;
}

.searchResults {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  top: 40px;
  width: 100%;
  height: auto;
  background-color: #ffffff !important;
  font-size: 20px;
  z-index: 999;
}

.usersImage {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: grey;
}

.userSearchedFor {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.headerContent > .haederIconsContainer {
  width: 136px;
  height: 40px;
  gap: 8px;
  display: flex;
}
.haederIconsContainer > .haederIcon {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  background: #ebedf0;
}
.haederIcon[notificationcount]::after {
  content: attr(notificationcount);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 25px;
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 13px;
  border-radius: 1000px;
  color: white;
  background-color: red;
}
.haederIconsContainer > .haederIcon:hover {
  cursor: pointer;
  background: #e4e6eb;
}
.headerProfilePic > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.headerProfilePic {
  position: relative;
}
.chevronDown {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  color: #050505;
  background: #ebedf0;
  border-radius: 100%;
  border: solid 2px white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chevronDown > svg {
  width: 9px;
}

.notificationHeader {
  display: flex;
  gap: 5px;
}

.profiePictureImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid grey;
}

.notificationButtons {
  display: flex;
  gap: 10px;
  margin-left: 22%;
}

.acceptButton,
.deleteButton {
  display: flex;
  height: 38px;
  width: 12vh;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pending {
  background-color: rgba(24, 119, 242, 0.2);
}

.seen {
  background-color: unset !important;
}

.acceptButton {
  background-color: #1877f2;
  color: White;
  font-weight: bold;
}

.deleteButton {
  background-color: #ebedef;
  color: black;
  font-weight: 500;
}
