.homePageMenuContanier{
  background-color: #f0f1f5;  
  width: 30%;
  height: 100%;
   padding-top: 25px; 
  padding-left: 20px; 
}
.homeContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.homeTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.homeIcon >img{
  width: 24px;
}

.userContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.userEmail{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.userIcon >img{
  width: 24px;
}


.horizontalLine >hr{
  border: 0.5px solid #d7d9dd;
  margin-right: 30%;
  margin-bottom: 17px;
}

.findFriendsContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.findFriendsTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.findFriendsIcon >img{
  width: 24px;
}

.marketplaceContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.marketplaceTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.marketplaceIcon >img{
  width: 24px;
}

.memoriesContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.memoriesTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.memoriesIcon >img{
  width: 24px;
}

.savedContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.savedTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.savedIcon >img{
  width: 24px;
}

.pagesContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.pagesTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;
}
.pagesIcon >img{
  width: 24px;
}

.seeAllContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.seeAllTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;;
}
.seeAllIcon >img{
  width: 24px;
}

.seeAllGroupsContanier{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:15px;
  margin-bottom: 17px;
}
.seeAllGroupsTitle{
  font-style: normal;
  font-weight:500; 
  font-size: large;
  padding-bottom:5px ;;
}
.seeAllGroupsIcon >img{
  width: 24px;
}



@media screen and (max-width: 850px) {
  .homePageMenuContanier {
    width: 10%; ;
  }
  .homeContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .userContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .homeTitle{
    display: none;
  }
  .userEmail{
    display: none;
  }
  .horizontalLine >hr{
    border: unset;
  }
  .findFriendsContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .findFriendsTitle{
    display: none;
  }
  .marketplaceContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .marketplaceTitle{
    display: none;
  }
  .memoriesContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .memoriesTitle{
    display: none;
  }
  .savedContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .savedTitle{
    display: none;
  }
  .pagesContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .pagesTitle{
    display: none;
  }
  .seeAllContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .seeAllTitle{
    display: none;
  }
  .seeAllGroupsContanier{
    flex-direction: column;
    align-items: flex-start;
  }
  .seeAllGroupsTitle{
    display: none;
  }
 
}

@media screen and (max-width: 450px){
  .homePageMenuContanier {
    display: none;
  }
}
  
