.search {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 15px;
}

.searchHeader {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.searchBar {
  display: flex;
  gap: 10px;
}

.searchBar > input[type="text"] {
  border-radius: 25px;
  height: 35px;
  width: 250px;
  background-color: #e9ebee;
}

.searchBar > button {
  cursor: pointer;
  border: none;
  top: 19px;
}

.searchBar > input[type="text"] {
  padding-left: 15px;
  font-weight: light;
  outline: none;
  border: none;
  font-size: 15px;
}

.errorMsg {
  color: red;
}

.searchResult {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  gap: 5px;
}

.userWidget {
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%), 0 8px 16px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  height: 300px;
  background-color: white;
  width: 180px;
  margin-top: 5px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  height: 200px;
  font-weight: bold;
  font-size: 12px;
}

.profilePicture {
  height: 180px;
  width: 100%;
  border-radius: 5%;
}

.userFullName {
  margin: 5px 0px 0px 10px;
}

.userButtons {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 10px 10px;
  gap: 10px;
}

.addFriend,
.removeSuggestion {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
}
.addFriend:hover {
  background-color: rgba(231, 243, 255, 0.5);
}

.removeSuggestion:hover {
  background-color: rgba(228, 230, 235, 0.5);
}

.addFriend {
  /* background-color: #e7f3ff; */
  background-color: rgba(231, 243, 255, 1);
  color: #1877f2;
}

.removeSuggestion {
  /* background-color: #e4e6eb; */
  background-color: rgba(228, 230, 235, 1);
  font-weight: bolder;
}

.bodyContainer {
  display: flex;
  gap: 60px;
}
