.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20% 0px 20%;
  gap: 15px;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.searchBar > input[type="text"] {
  border-radius: 25px;
  height: 45px;
  width: 350px;
  background-color: #e9ebee;
}

.searchBar > input[type="submit"] {
  background-color: #e9ebee;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

.searchBar > input[type="text"] {
  padding-left: 15px;
  font-weight: light;
  outline: none;
  border: none;
  font-size: 15px;
}

.errorMsg {
  color: red;
}
